.dropdown {
    position: relative;
    display: inline-block;
}

*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
    right: 0.25vw;
}

.dropdown:hover .dropdown-content {
    display: block;
}

ul {
    list-style: none;
}

.headerUl {
    margin: 0;
    vertical-align: middle;
    float: right;
}

header {
    min-height: 10vh;
    max-height: 10vh;
    margin: 0;
    
    padding-right: 2vh;
    padding-top: 0;
    padding-bottom: 0;

    line-height: 10vh;
    border-bottom: 4px;
    background-color: #1C5D99;

}

footer {
    height: 10vh;
    max-height: 10vh;
    margin: 0;
    padding-top: 5vh;
    background-color: #1C5D99;

    color: white;
    font-family: 'PT Sans', sans-serif;
    font-size: 12px;
    text-align: center;
}

main {
    margin: 0;
    padding: 0;
    min-height: 80vh;
    text-align: center;
}

h1 {
    margin: 0;
}

body {
    margin: 0;
}


.mainForm {
    border-width: 3px;
    border-color: red;
    background-color: #d8e3f1;
    text-align: center;
    justify-content: center;
    width: 39.08vw;
    max-height: 80vh;
    height: 80vh;
    /* justify-content:left; */
}


.mainMenu {
    width: 100vw;

}

.mainMenuItem {
    width: 100%;
    height: 100%;
}

.mainMenuItem p {
    vertical-align: middle;
}



#i3 {
    background-color: grey;
    color: black;
}

#i3:hover {
    background-image: none;
    background-color: darkgrey;
    color: white;
}

#i4 {
    background-color: grey;
    color: black;
}

#i4:hover {
    background-color: darkgrey;
    color: white;
}

.flex-row {
    display: flex;
    justify-content: space-evenly;
}

a {
    text-decoration: none;
}

.headBar {
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    background-color: darkgrey;
    height: 5.5vh;
    margin: 0;
}

.middleAlign {
    line-height: 5.5vh;
    vertical-align: middle;
}

td {
    border: 1px solid black;
    margin: 0;
}

table {
    border-spacing: 0px;
    width: 70vw;
    max-width: 70vw;
}

.contentDiv {
    width: 100vw;
}

.return {
    background-color: transparent;
    border: none;

}

.return:hover {
    cursor: pointer;
}


.construct {
    width: 50vw;
}

.listinha {
    width: 25vw;
}

.formNewProd {
    padding: 5vh;
    background-color: rgb(243, 243, 243);
    width: 50vw;
    max-width: 50vw !important;
    border-radius: 25px;
    height: 55vh;
    min-height: 45vh;
    display: inline-block;
    border-style: solid;
    border-color: rgb(221, 221, 221);
}

.formRow {
    max-height: 15vh;
    margin: 1vh;
}

.areaDeTexto {
    width: 54.6vw;
    height: 20vh;
}

.loginInput {
    line-height: 25px;
    height: 35px;
    border-radius: 5px;
    width: 20vw;
    padding-left: 15px;
    border-style: solid;
    border-color: lightgray;
    border-width: 2px;
    margin: 2px;
    font-family: 'PT Sans', sans-serif;
    background-color: white;
}

.submitButton {
    border-radius: 10px;
    border-width: 0;
    width: 100px;
    height: 25px;
    background-color: #407EA2;
    color: white;
    transition: 20ms;
    font-family: 'PT Sans', sans-serif;
}

.submitButton:hover {
    border-radius: 10px;
    width: 100px;
    height: 25px;
    background-color: #124372;
    cursor: pointer;
    transform: scale(1.10);
    transition: 20ms;
}

.loginIcon {
    font-size: 90px;
    font-weight: lighter;
}

.loginBg{
    height: 80vh;
    margin: 0px;
    padding: 0px;
}

.bgContainer{
    margin: 0px;
    padding: 0px;
    height: 80vh;
    max-width: 70vw;
}

.loginContainer{
    display: flex;
    /* flex-direction: row;/ */
    width: 100vw;
    margin: 0px;
}

.formulario{
    margin-top: 50%;
    transform: translateY(-50%);
}

.loginLabel{
    margin-right: 40%;
}

.hamburguerMenu{
    border: none;
    color: white;
    background-color: transparent;
    font-weight: bold;
    height: 10vh;
    text-align: center;
    width: 10vh;
    z-index: 5 !important;
}
.hamburguerMenu:hover {
    color: white;
    background-color: #072f55;
    font-weight: bold;
    cursor: pointer;
    
}

.sideBar{
    display: block;
    left: -25%;
    width: 25%;
    z-index: 5;
}

.sideBarTop{
    width: 100%;
    margin-top: 5vh;
    margin-bottom: 5vh;
    text-align: center;
}

.optionsIcon{
    transform: translateY(75%);
}

.optionsIconLogOut{
    margin-right: 1vh;
    transform: translateY(10%);
}

.logOutDiv{
    position: absolute;
    bottom: 0%;
    width: 100%;
    text-align: center;
    height: 15vh;
    font-size: 25px;
}

.itemIconContainer{
    width: 15%;
    height: 7vh;
    text-align: center;
    
}

.itemName{
    width: 2vh;
    transform: translateY(50%);
}

.optionContainer{
    display: flex; 
    width:100%;
    height: 7vh;
}

.itemNameContainer{
    width: 85%;
    padding-left: 1vh;
    height: 7vh;
}

.activeLink .itemIconContainer, a:hover .itemIconContainer{
    border-radius: 0% 50% 50% 0%;
    transition: 250ms;
    background-color: #1C5D99;
    color: white;
}

.butao{
    border: none;
}

.menuOption{
    transition: 1s;
    position: absolute;
    transform: translate(16vw, 28vh);
    color: white;
    font-weight: bold;
    font-size: 20px;
    opacity: 1;
}

.mainMenuButton{
    margin-top: 5%;
    width: 35vw !important;
    height: 60vh !important;
    border-radius: 10%;
    overflow: hidden;
    background-color: black;
    transition: 1s;
}

.mainMenuButton:hover .menuOption{
    color: white;
    font-size: 25px;
    opacity: 1s;
    transform: translate(15vw, 27.5vh);
}

.mainMenuButton:hover #i1{
    font-size: 25px;
    opacity: 0.2;
    transform: scale(1.05);
}

.mainMenuButton:hover #i2{
    opacity: 0.2;
    transform: scale(1.05);
}

#i1 {
    background-image: url(../assets/backGroundEstoque.png);
    background-position-x: -28vw;
    transition: 1s;
    opacity: 0.4;
}


#i2 {
    background-image: url(../assets/backGroundProducao.jpg);
    background-position-x: -13vw;
    transition: 1s;
    opacity: 0.4;
}

.formInput{
    border-radius: 10px;
    border-width: 1px;
    border-color: grey;
    height: 5vh;
    width: 15vw;
    padding-left: 0.5vw;
}

.formCol{
    max-width: 15vw;
    text-align: left;
}

.form-row {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2.5vh;
}

.formSubmitButton{
    background-color: white;
    color: black;
    height: 5vh;
    width: 10vw;
    border-radius: 10px;
    transition: 200ms;
}

.formSubmitButton:hover{
    background-color: #072f55;
    color: white;
    transform: scale(1.1);
    cursor: pointer;
}

.submitCol{
    text-align: right;
}

.userModal{
    width: 80vw !important;
}


.searchBar button{
    border: none;
    background-color: transparent;
    float: right;
    width: 3vw;
}
.searchBar button:hover{
    cursor: pointer;
}

.searchBarInput{
    background-color: transparent;
    border: none;
    float: left;
    width: 21vw;
}

input:focus{
    outline: none;
}

.searchBar {
    width: 27vw;
    max-width: 31vw;
    border-radius: 15px;
    background-color: lightgrey;
    border: 2px;
    height: 5vh;
    line-height: 5vh;
    padding-left: 1.5vw;
    vertical-align: middle;
}

.newButton{
    height: 5vh;
    width: 26vw;
    border-radius: 10px;
    transition: 300ms;
}

.newButton:hover{
    cursor: pointer;
    background-color: #072f55;
    color: white;
    transform: scale(1.05);
}

.pageHeader{
    background-color: lightgrey;
}

footer .footerLettering{
    font-size: 25px;
    transform: translateY(-2.5vh);
}

.optionScroll{
    height: 45vh;
    width: 20vw;
    border-radius: 15px;
    overflow: hidden;
    border: solid 1px;
    border-color: gray;
    background-color: rgb(197, 201, 226);
}

.scrollOption{
    width: 20vw;
    height: 15vh;
    padding-top: 7.5vh;
}

.scrollOption p{
    transform: translateY(-50%);
    transition: 500ms;
}

.scrollOption:hover{
    background-color: #072f55;
    color: white;
    transform: scale(1.05);
}

.optionBorder{
    height: 1px;
    background-color: gray;
    width: 18vw;
}