.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
    right: 0.25vw;
}

.dropdown:hover .dropdown-content {
    display: block;
}

ul {
    list-style: none;
}

.headerUl {
    margin: 0;
    vertical-align: middle;
    float: right;
}

header {
    min-height: 10vh;
    max-height: 10vh;
    margin: 0;
    padding-left: 2vh;
    padding-right: 2vh;
    padding-top: 0;
    padding-bottom: 0;

    line-height: 10vh;
    border-bottom: 4px;
    background-color: #1C5D99;

}

footer {
    min-height: 10vh;
    max-height: 10vh;
    margin: 0;
    padding-left: 2vh;
    padding-right: 2vh;

    line-height: 10vh;
    background-color: #1C5D99;

    vertical-align: middle;

    color: white;
    font-family: 'PT Sans', sans-serif;
    font-size: 12px;
}

main {
    margin: 0;
    padding: 0;
    min-height: 80vh;
    text-align: center;
}

h1 {
    margin: 0;
}

body {
    margin: 0;
}


.mainForm {
    border-width: 3px;
    border-color: red;
    background-color: #8bb1e4;
    text-align: center;
    justify-content: center;
    width: 39.08vw;
    max-height: 80vh;
    height: 80vh;
}

footer {
    text-align: center;
}

.mainMenu {
    border-width: 2px;
    border-color: black;
    background-color: lightgray;
    width: 45vw;
    height: 45vh;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    overflow: hidden;
    border-radius: 25px;
}

.mainMenuItem {
    height: 22.5vh;
    width: 22.5vw;
    margin: 0;
    line-height: 22.5vh;
}

.mainMenuItem p {
    vertical-align: middle;
}

#i1 {
    background-color: grey;
    color: black;
}

#i1:hover {
    background-color: darkgrey;
    color: white;
}

#i2 {
    background-color: grey;
    color: black;
}

#i2:hover {
    background-color: darkgrey;
    color: white
}

#i3 {
    background-color: grey;
    color: black;
}

#i3:hover {
    background-color: darkgrey;
    color: white;
}

#i4 {
    background-color: grey;
    color: black;
}

#i4:hover {
    background-color: darkgrey;
    color: white;
}

.flex-row {
    display: flex;
    justify-content: center;
}

p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.headBar {
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    background-color: darkgrey;
    height: 5.5vh;
    margin: 0;
}

.middleAlign {
    line-height: 5.5vh;
    vertical-align: middle;
}

td {
    border: 1px solid black;
    margin: 0;
}

table {
    border-spacing: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 70vw;
}

.contentDiv {
    width: 100vw;
}

.return {
    background-color: transparent;
    border: none;

}

.return:hover {
    cursor: pointer;
}

.searchBar {
    width: 25vw;
    max-width: 25vw;
    border-radius: 15px;
    background-color: lightgrey;
    border: 2px;
    height: 5vh;
    padding-left: 1.5vw;
}

.construct {
    width: 50vw;
}

.listinha {
    width: 25vw;
}

.formNewProd {
    padding: 5vh;
    background-color: grey;
    width: 75vw;
    max-width: 75vw !important;
    border-radius: 25px;
    height: 45vh;
    min-height: 45vh;
    display: inline-block;
}

.formRow {
    max-height: 15vh;
    margin: 1vh;
}

.areaDeTexto {
    width: 54.6vw;
    height: 20vh;
}

.loginInput {
    line-height: 25px;
    border-radius: 2vh;
    width: 25vw;
    padding-left: 15px;
    border-style: solid;
    border-color: lightgray;
    border-width: 2px;
    margin: 2px;
    font-family: 'PT Sans', sans-serif;
}

.submitButton {
    border-radius: 10px;
    border-width: 0;
    width: 100px;
    height: 25px;
    background-color: #407EA2;
    color: white;
    transition: 20ms;
    font-family: 'PT Sans', sans-serif;
}

.submitButton:hover {
    border-radius: 10px;
    width: 100px;
    height: 25px;
    background-color: #124372;
    cursor: pointer;
    transform: scale(1.10);
    transition: 20ms;
}

.loginIcon {
    font-size: 90px;
    font-weight: lighter;
}

.loginBg{
    height: 80vh;
    margin: 0px;
    padding: 0px;
    margin-left: -15vw;
}

.bgContainer{
    margin: 0px;
    padding: 0px;
    height: 80vh;
    max-width: 70vw;
}

.loginContainer{
    display: flex;
    flex-direction: row;
    width: 100vw;
    margin: 0px;
}

